.fragment_501 {

    padding: 30px;
    background-color: rgb(209, 209, 209);

    .slick-carousel {
        width: 45%;
        margin: 0 auto;
    }

    .slick-slide img {
        border-radius: 20px;
        width: 100%;
        height: 80%;
    }

    .slick-slide {
        width: 50%;
    }

    @media (max-width: 768px) {
        .slick-carousel {
            width: 60%;
        }

        .slick-slide {
            width: 100%;
        }
    }

    .titulo {
        text-align: center;
        padding-top: 30px;
    }

    .subtitulo {
        padding-top: 10px;
        text-align: center;
    }

    .texto {
        padding-top: 20px;
        text-align: center;
    }
}